name: Compile Examples

# See: https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows
on:
  push:
    paths:
      - ".github/workflows/compile-examples.yml"
      - "library.properties"
      - "examples/**"
      - "src/**"
  pull_request:
    paths:
      - ".github/workflows/compile-examples.yml"
      - "library.properties"
      - "examples/**"
      - "src/**"
  schedule:
    # Run every Tuesday at 8 AM UTC to catch breakage caused by changes to external resources (libraries, platforms).
    - cron: "0 8 * * TUE"
  workflow_dispatch:
  repository_dispatch:

jobs:
  build:
    name: ${{ matrix.board.fqbn }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        board:
          - fqbn: arduino:mbed_portenta:envie_m4
            platforms: |
              - name: arduino:mbed_portenta
            fw-update: false
          - fqbn: arduino:mbed_portenta:envie_m7
            platforms: |
              - name: arduino:mbed_portenta
            fw-update: true
          - fqbn: arduino:samd:mkrwan1300
            platforms: |
              - name: arduino:samd
            fw-update: true
          - fqbn: arduino:samd:mkrwan1310
            platforms: |
              - name: arduino:samd
            fw-update: true

        # Make board type-specific customizations to the matrix jobs.
        include:
          - board:
              # Boards with firmware update capability.
              fw-update: true
            # Compile these sketches in addition to the universal ones.
            sketch-paths: |
              - examples/FWUpdaterBridge
              - examples/MKRWANFWUpdate_standalone
          - board:
              fw-update: false
            sketch-paths: ""

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Compile examples
        uses: arduino/compile-sketches@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fqbn: ${{ matrix.board.fqbn }}
          platforms: ${{ matrix.board.platforms }}
          libraries: |
            # Install the library from the local path.
            - source-path: ./
          sketch-paths: |
            # Examples for all boards
            - examples/FirstConfiguration
            - examples/LoraSendAndReceive
            # Examples for specific boards
            ${{ matrix.sketch-paths }}
